<div *ngIf="isLoaded">
  <div class="row">
    <div class="col-xs-12">
      <img [src]="recipe.imagePath"
          [alt]="recipe.name"
          style="max-height:220px"
          class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{recipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <button type=button
                class="btn btn-success"
                (click)="addToOrdersList()">
          Order
        </button>
      <div appDropdown class="btn-group">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 description text-muted">
      {{recipe.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <li class="list-group-item"
      *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}}
      </li>
    </div>
  </div>
</div>
