<div class="row">
  <div class="col-md-6">
    <app-order-list></app-order-list>

  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
    <form [formGroup]="orderForm">
        <div class="row">
          <div class="col-xs-12"
               formArrayName="additives">
            <div
              *ngFor="let additive of getAdditiveControls(); let i = index"
              [formGroupName]="i"
              style="margin-top:10px"
              class="row">
              <label style='display: block; margin-left:15px'
                      for="additives"
                      class='text-muted'
                      >Additive # {{i+1}}
              </label>
              <div class="col-xs-8">
                  <div class="form-group">
                    <div class="col-sm-8">
                      <select class="form-control" formControlName="product">
                        <option *ngFor="let a of getAllAdditives(); let i=index"
                        [attr.disabled] = "false ? '' : null"
                        [ngValue]="a">
                        {{a.name}} &nbsp; &nbsp;  {{a.price | currency:'EUR'}}
                      </option>
                    </select>
                    </div>
                    <div class="col-sm-4">
                      <input class='form-control'
                          formControlName='quantity'
                          min="0"
                          onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                          type="number">
                    </div>

                  </div>
              </div>
              <div class="col-xs-2">
                  <button (click)="onDeleteAdditive(i)"
                          class="btn btn-danger">X
                  </button>
                </div>
            </div>
          </div>
          <hr>
            <div class="col-xs-12">
              <button type="button"
                      (click)="onAddAdditive()"
                      style='margin-top:10px'
                      class="btn btn-success">Add Additive
              </button>
            </div>
        </div>

        <div class="form-group">
          <label for="caterer">Caterers</label>
          <select class="form-control"
              formControlName="caterer"
              id="caterer">
              <option
                      *ngFor="let c of getAllCaterers();let i=index"
                      [ngValue]="c"
                      [selected]="i==0" >
                  {{c.name}}
                </option>
          </select>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <textarea class="form-control"
                    formControlName="address"
                    id="address"
                    rows="3"></textarea>
        </div>
        <div class="form-group">
          <button style="margin: 10px 0 10px 0px; float: right"
            (click)="finishOrder()"
            [disabled]="orderForm.invalid"
            class="btn btn-success">
            Order
          </button>
        </div>
      </form>
  </div>

  <hr>
  <div class="row">
      <div class="col-xs-12">
          <div *ngFor="let recipeEdit of getOrderList()">
              <p>
                  <span class='pizza-price text-muted'>{{recipeEdit.name}}: </span>
                  {{calculatePizzaPrice(recipeEdit) | currency:'EUR'}}
              </p>
          </div>
          <hr>
          <strong>
            <p *ngIf="getOrderedAdditives().length > 0" class='text-muted'>Additives</p>
          </strong>
          <div *ngFor="let additive of getOrderedAdditives()">
              <p>
                  <span class='pizza-price text-muted'>{{additive.product.name}} ({{additive.quantity}}): </span>
                  {{(additive.product.price*additive.quantity) | currency:'EUR'}}
              </p>
          </div>
          <hr>
          <div>
            <p>
              <span class='pizza-price text-dark'> <strong>Total:</strong> </span> {{calculateTotalPrice() | currency:'EUR'}}
            </p>
          </div>
      </div>
    </div>

</div>
