<div class="row">
  <div class="col-md-6">
    <app-order-list></app-order-list>
    
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
    <form>
        <div class="form-group">
          <label for="additives">
            Additives</label>
          <select class="form-control" id="AdditivesList">
            <option selected>
              None
            </option>
            <option *ngFor="let additive of getAdditiveList()">
              {{additive.name}} | {{additive.price | currency:'EUR'}}
            </option>
          </select>
        </div>
    
        <div class="form-group">
          <label for="caterers">Caterers</label>
          <select class="form-control" id="CatererList">
              <option *ngFor="let caterer of getCatererList()">
                  {{caterer.name}}
                </option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Address</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
          <button style="margin: 10px 0 10px 0px; float: right"
            (click)="finishOrder()"
            class="btn btn-success">
            Order
          </button>
        </div>
      </form>
  </div>

  <hr>
  <div class="row">
      <div class="col-xs-12">
          <div *ngFor="let recipeEdit of getOrderList()">
              <p>
                  <span class='pizza-price text-muted'>{{recipeEdit.description}}: </span>
                  {{calculatePizzaPrice(recipeEdit) | currency:'EUR'}}
              </p>
            </div>
            <hr>
            <div>
              <p>
                <span class='pizza-price text-dark'> <strong>Total:</strong> </span> {{calculateTotalPrice() | currency:'EUR'}}
              </p>
            </div>
      </div>
    </div>

</div>
