<div class="row">
  <div class="col-md-5">
    <app-order-list></app-order-list>
    <button style="margin: 10px 0 10px 0px; float: right"
            (click)="finishOrder()"
            class="btn btn-success">
            Order
    </button>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>

  <hr>
  <div class="row">
      <div class="col-xs-12">
          <div *ngFor="let recipeEdit of getOrderList()">
              <p>
                  <span class='pizza-price text-muted'>{{recipeEdit.description}}: </span>
                  {{calculatePizzaPrice(recipeEdit) | currency:'EUR'}}
              </p>
            </div>
            <hr>
            <div>
              <p>
                <span class='pizza-price text-dark'> <strong>Total:</strong> </span> {{calculateTotalPrice() | currency:'EUR'}}
              </p>
            </div>
      </div>
    </div>

</div>
