<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img
        src="https://cdn.dribbble.com/users/60266/screenshots/1926787/ricos-quesos-pizza.jpg"
        alt="logo"
        class="img-responsive"
        style="max-height:200px;">
      </div>
      <div class="col-md-8">
          <h3>Welcome to <strong>online</strong> pizza shop !</h3>
          <p class="text-muted">Go to Recipes to check one of the tastiest pizzas out there.</p>
      </div>
    </div>
</div>
