<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit"
                  class="btn btn-success">Save
          </button>
          <button type="button"
                  (click)="onCancel()"
                  class="btn btn-danger">Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12"
             formArrayName="ingredients">
          <div
            *ngFor="let ingredient of getControls(); let i = index"
            [formGroupName]="i"
            style="margin-top:10px"
            class="row">
            <div class="col-xs-8">
                      <select class="form-control" formControlName="name">
                          <option *ngFor="let ai of allIngredients;let i=index"
                                [attr.disabled] = "isIngredientUsed(ai.name) ? '' : null"
                                [value]="ai.name">
                                {{ai.name}} &nbsp; &nbsp;  {{ai.price | currency:'EUR'}}
                          </option>
                      </select>
            </div>
            <div class="col-xs-2">
              <button (click)="onDeleteIngredient(i)"
                      class="btn btn-danger">X
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button type="button"
                  (click)="onAddIngredient()"
                  class="btn btn-success">Add Ingredient
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
