<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6n col-md-offset-2 col-sm-offset-1">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               name="email"
               required
               email
               ngModel = "asdasd@abv.bg"
               class="form-control">
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text"
               id="firstName"
               name="firstName"
               required
               ngModel = 'First name'
               class="form-control">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text"
               id="lastName"
               name="lastName"
               required
               ngModel = 'Last Name'
               class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               name="password"
               ngModel = 'asd123'
               minlength="6"
               required
               class="form-control">
      </div>
      <div class="form-group">
        <label for="depositedCash">Deposit Cash</label>
        <input type="number"
               id="despositedCash"
               name="depositedCash"
               required
               [ngModel]=0
               class="form-control">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Sign up</button>
    </form>
  </div>
</div>
